<div class="card">
  <div class="card-header">
    <h5 class="card-title"> <b> Vocẽ já tem <%= @deaths_count %> Morte(s). Simule uma morte abaixo:</b> </h5>
  </div>
  <div class="card-body">
    <%= render partial: "deaths/form" %>
  </div>
</div>
