<div class="card">
  <div class="card-header">
    <h5 class="card-title"> <b> Vocẽ já tem <%= @turtle_killed_monsters_count %> Turtles Morta(s) e <%= @bowser_killed_monsters_count %> Bowser Morto(s). Simule as mortes abaixo:</b> </h5>
  </div>
  <div class="card-body">
    <%= render partial: "killed_monsters/form" %>
  </div>
</div>