<div class="card">
  <div class="card-header">
    <h5 class="card-title"> <b> <%= @collected_coins_count %> Moedas coletas. Aproveite e colete mais algumas:</b> </h5>
  </div>
  <div class="card-body">
    <%= render partial: "collected_coins/form" %>
  </div>
</div>